html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3f2fd;
}
#wrap {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 50px;
  background-color: #81d4fa;
}
aside {
  float: left;
  width: 30%;
  height: 900px;
  background-color: #4fc3f7;
}
.article1 {
  float: left;
  width: 70%;
  height: 300px;
  background-color: #29b6f6;
}
.article2 {
  float: left;
  width: 70%;
  height: 300px;
  background-color: #03a9f4;
}
.article3 {
  float: left;
  width: 70%;
  height: 300px;
  background-color: #039be5;
}
footer {
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #0288d1;
}
/* 화면 너비 0 ~ 1240px */
@media (max-width: 1240px) {
  #wrap {
    width: 100%;
  }
  header {
    height: 100px;
  }
  aside {
    height: 900px;
  }
  .article1 {
    height: 450px;
  }
  .article2 {
    height: 450px;
  }
  .article3 {
    clear: both;
    width: 100%;
    height: 300px;
  }
}
/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
  header {
    width: 100%;
    height: 250px;
  }
  aside {
    width: 100%;
    height: 250px;
  }
  .article1 {
    width: 50%;
    height: 500px;
  }
  .article2 {
    width: 50%;
    height: 500px;
  }
}
/* 화면 너비 0 ~ 540px */
@media (max-width: 540px) {
  header {
    height: 350px;
  }
  aside {
    height: 450px;
  }
  .article1 {
    width: 100%;
    height: 200px;
  }
  .article2 {
    width: 100%;
    height: 30%;
  }
  .article3 {
    /* display: none; */
    width: 100%;
    height: 20%;
  }
}
